# --- Django ---
SECRET_KEY = "my_secret_key"
DEBUG = True/False

ALLOWED_HOSTS = "localhost,127.0.0.1,.yourdomain.com"

# --- JWT ---
SIGNING_KEY="total_secret_key"
ACCESS_TOKEN_LIFETIME = 15
REFRESH_TOKEN_LIFETIME = 7

EMAIL_VERIFY_TOKEN_LIFETIME = 24
ACTION_TOKEN_LIFETIME = 15

# --- Database ---
DB_HOST = localhost
DB_PORT = 5432
DB_NAME = "postgres"
DB_USER = "user"
DB_PASS = "password"

# --- Redis ---
REDIS_HOST = localhost
REDIS_PORT = 6379
REDIS_USER = user
REDIS_PASS = password    